@font-face {
	font-family: 'Sofia Pro Semi';
	src: url('../fonts/SofiaProSemiBold.eot');
	src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'), url('../fonts/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProSemiBold.woff2') format('woff2'), url('../fonts/SofiaProSemiBold.woff') format('woff'),
		url('../fonts/SofiaProSemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('../fonts/SofiaProLight.eot');
	src: local('Sofia Pro Light'), local('SofiaProLight'), url('../fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProLight.woff2') format('woff2'), url('../fonts/SofiaProLight.woff') format('woff'),
		url('../fonts/SofiaProLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('../fonts/SofiaProRegular.eot');
	src: local('Sofia Pro Regular'), local('SofiaProRegular'), url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProRegular.woff2') format('woff2'), url('../fonts/SofiaProRegular.woff') format('woff'),
		url('../fonts/SofiaProRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('../fonts/SofiaProMedium.eot');
	src: local('Sofia Pro Medium'), local('SofiaProMedium'), url('../fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SofiaProMedium.woff2') format('woff2'), url('../fonts/SofiaProMedium.woff') format('woff'),
		url('../fonts/SofiaProMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
